################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTOWO.png
/cote.png
/code.png
/.vs
/x64/Debug
/strusiu.png
