################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTOWO.png
/cote.png
/code.png
/.vs
/x64/Debug
/strusiu.png
/methodA_decrypted.png
/methodA_encrypted.png
/methodB_encrypted_1.png
/methodB_decrypted.png
/methodB_encrypted_2.png
